<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<header>
    <span th:replace="~{home :: navbar}"></span>
</header>
<main class="container">
<form th:action="@{/post/add}" th:object="${post}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Titre</label>
        <input th:field="*{title}" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titre du poste">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Description</label>
        <input th:field="*{description}" type="text" class="form-control" id="exampleFormControlInput2" placeholder="Descriptin du poste">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Contenu</label>
        <textarea th:field="*{content}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary"><span th:text="${ post.id != null ? 'Modifier' : 'Ajouter'}"></span></button>
    </div>
</form>

</main>
</body>
</html>